.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #f8f9fa;
    padding: 20px;
    transition: padding 0.3s; 
  }
  
  @media (max-width: 768px) {
    .container {
      width: 100%;
      padding: 10px;
    }
  }