.button {
    grid-column: span 2;
    padding: 10px;
    background-color: #2c5cc5;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;  
  }
  .Link{
    /* border: solid 5px black; */
    grid-column: span 2;
    width: 100%;  
  } 

  .button:hover {
    background-color: #244aa6;
  }
  
  @media (max-width: 768px) {
    .button {
      width: 100%;
      grid-column: 1;
    }
  }
  