.header {
  background-color: #2b4c7e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
}

.nav {
  display: flex;
  align-items: center;
}

.nav a {
  margin-right: 20px;
  color: #ffffff7b;
  text-decoration: none;
  font-weight: bold;
  margin-left:5px;
  transition: transform 0.3s ease;
}
.nav a img{
 height: 40px;
 width: auto;
}

.img{
  height: 40px;
  width: auto;
 }

.nav a.active {
  /* background-color: #041229ae; /* Fundo diferente para destacar */
  padding: 5px 10px;
  border-radius: 5px; 
  color: white;
}

.nav a:hover {
  transform: scale(1.03); /* aumenta o elemento em 10% */
    color: #ffffff;}

.logo {
  height: 50px;
  cursor: pointer;
}

.profile {
  display: flex;
  align-items: center;
}

.profile img {
  cursor: pointer;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-left: 10px;
  /* filter: brightness(0.7); Reduz o brilho para 70% */
}
.profile img:hover {
  transform: scale(1.03); 
  /* filter: brightness(1.2); Reduz o brilho para 70% */

  
}

